@import 'mixins';
$loadingHeight: 10vh;
$transitionTime: .5s;
$highlightDuration: 2s;
$logo-size: 100px;
@keyframes closeLoadingScreen {
    0% {
        top : 0;
    }
    100%
     {
        // @include transform(translateY(-100vh));
        top : -100vh;
    }
}

@keyframes highlight {
    0% {
        color: white;
    }
    50% {
        color: gray;
    }
    100% {
        color: white;
    }
}

.loading-screen-container {
    @include transition(all, $transitionTime);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    .loading-screen {
        width: 100%;
        height: 100vh - $loadingHeight;
    }

    &.move {
        animation-name: closeLoadingScreen;
        animation-duration: $transitionTime;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
        animation-fill-mode: forwards;
    }

    .spinner {
        position: relative;
        width: 100%;
        height: $loadingHeight;
        bottom: 0;
        left: 0;

        .loader-logo {
            position: absolute;
            width: 50%;
            height: 100%;
            top: -25%;
            left: 0;
            right: 0;
            margin: auto;
            font-size: $loadingHeight;
            text-align: center;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            color: white;
            &.hide {
                display: none;
            }
        }

        .icon-loading-down {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            text-align: center;
            font-size: 10vh;
            animation-name: highlight;
            animation-duration: $highlightDuration;
            animation-iteration-count: infinite;
            visibility: hidden;

            &.show {
                visibility: visible;
            }
        }

        &.loaded:hover {
            cursor: pointer;
            background-color: rgba(250, 250, 250, .1);
        }
    }
}

app {
    position: relative;
    @include transition(all, $transitionTime);
    &.move {
        @include transform(translateY(-100vh));
        position: relative;
    }
}

.app-container {
    position: fixed;
    width: 100vw;
    height: 100vh;

    &.move {
        position: absolute;
        animation-name: closeLoadingScreen;
        animation-duration: $transitionTime;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
        animation-fill-mode: forwards;
    }
}
