@import 'mixins';
$headerTitleFontSize: 5vw;
$headerHeight: 5em;
$headerbarColor: rgba(250, 250, 250, .1);
$menuColor: rgba(250, 250, 250, .8);
$showMenuAnim : .2s;

@keyframes showMenu {
    0% {
        @include transform(translateX(-100%));
    }
    1% {
        visibility: visible;
    }
    100% {
        @include transform(translateX(0%));
    }
}

headerbar {
    h1, h2, h3, h4, h5, h6, p {
        letter-spacing: 1.3em;
    }
}

nav {
    background-color: $headerbarColor;
    position: fixed;
    width: 100vw;
    height: $headerHeight;
    z-index: 100;
}

.nav-title {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5%;
    //font-size: $headerTitleFontSize;
}

.nav-title-logo {
    display: inline-block;
    color: black;
    vertical-align: middle;
    font-size: $headerHeight;
}
.nav-title-logo-text {
    display: none;
    // display: inline-block;
    vertical-align: middle;
}

.navbar {
    position: relative;
    //use display inline-block for width size to content
    display: inline-block;
    left: 3em;
    @include center(vertical);

    .menu-button {
        cursor: pointer;
        padding: 0 2em;
        &::after {
            content: '';
            position:absolute;
            width: 100%;
            height: 2px;
            background-color: red;
            top: 50%;
            left: 0;
        }
    }
}

.navmenu {
    position: fixed;
    top: $headerHeight;
    bottom: 0;
    width: 30%;
    min-width: 300px;
    background-color: $menuColor;
    z-index: 100;
    visibility: hidden;

    h1, h2, h3, h4, h5, h6, p {
        letter-spacing: .7em;
    }

    @include transform(translateX(-100%));
    @include transition(transform, $showMenuAnim);
    &.showMenu {
        visibility: visible;
        @include transform(translateX(0));
    }

    .link {
        cursor: pointer;
        padding: 1em;
        position: relative;
        p {
            font-weight: 900;
            font-size: 20;
            text-align: center;
        }

        &.active::after {
            content: '';
            position:absolute;
            width: 80%;
            height: 5px;
            background-color: red;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
        }
    }
}

@media only screen and (max-device-width: 600px) {
    .nav-title-logo-text {
        display: none;
    }
    .navmenu {
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .nav-title-logo-text {
        display: none;
    }
}
